@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Roboto';
    background-color: #E5E5E5;
    padding-bottom: 20px;
}

.container {
    background-color: #fff;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.body {
    width: 99%;
    margin: 0 auto;
}


/* NAV-BAR */
nav {
    /* border: 2px solid red; */
    position: relative;
    top: 3px;
    background-color: #7030CC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nav-logo {
    margin-left: 10px;
}

.nav-logo > img{
    width: 40px;
}

.list {
    /* padding: 10px 0; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    /* width: 450px; */
    /* position: relative; */
    /* left: 50px; */
}

.list-items {
    list-style: none;
    color: #fff;
    font-weight: 300;
    font-size: 10px;
}

.nav-btn  {
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #1BBCEF;
    color: #fff;
    font-weight: 500px;
    font-size: 8px;
    position: relative;
    right: 7px
}

/*******************/
/*** TOP-SECTION ***/
/*******************/
.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7030CC;
    color: #fff;
    padding-bottom: 20px;
}

.top-left {
    /* border: 1px solid lightgreen; */
    color: #fff;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.top-title {
    font-size: 30px;
    line-height: 30px;
    margin: 10px 0
}

.top-descr {
    font-size: 15px;
    font-weight: 300;
}

.top-right {
    width: 300px;
}

/**********************/
/*** MIDDLE-SECTION ***/
/**********************/

.middle-section  {
    /* border: 2px solid lightcoral; */
    display: flex;

}

.middle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.middle-right {
    /* border: 2px solid red; */
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px 0 0;
}

.middle-title {
    /* text-align: center; */
    /* border: 2px solid red;; */
    padding: 0 20px;
}

.middle-descr {
    /* border: 2px solid blue; */
}

.middle-card {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    row-gap: 5px;
}

.middle-head {
    font-size: 12px;
    display: flex;
}

.arrow {
    width: 15px;
    margin-right: 5px;
}

.middle-text {
    font-size: 12px;
    padding-left: 20px;
}

.middle-left {
    width: 300px;
}

/**********************/
/*** LOWER-SECTION ***/
/**********************/
.lower-heading {
    margin-top: 20px;
    /* border: 2px solid red; */
    text-align: center;
}

.cards {
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}

.card {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    background-color: #fff;
    height: 170px;
    width: 150px;
    box-shadow: 3px 3px 3px 1px #1c1c1c71;
}

.card-active .content-container {
    background-color: #6429B7;
    color: #fff;
  }

  .image-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    top: 10px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90px;
    position: relative;
    top: 7px;
    border-radius: 25px;
  }

.card-logo{
    width: 25px;
    z-index: 1;
    position: relative;
  }

  #cardl1{
    background-color: #fdcfcf;
  }
  #cardl2{
    background-color: #ff735a30;
  }
  #cardl3{
    background-color: #E1EEEF;
  }
  #cardl4{
    background-color: #F2E7F5;
  }

  .card-head {
    font-size: 15px;
    /* position: relative;
    bottom: 5px; */
  }
  .card-body {
    font-size: 10px;
  }